textarea{
  border: 2px solid grey;
  display: block;
  width: 100%;
  height: auto;
  font-size: 14px;
  text-align: left;
  padding: 15px;
  border-radius: 3px;
  background: #fcfcfc;
  
}

.ReviewForm {
  width: 400px;
  height: auto;
  padding: 40px;
  margin: 0 auto;
  border-radius: 3px;
  border: black 2px;
}