ul{
  list-style: none;
}
h2{
  text-align: center;
}

.poster{
  width: 300px;
  height: 466px;
}

.go-back-button{
  width:80%;
  margin: auto;
}

* {
  box-sizing: border-box;
}

.row {
  margin: 0 auto;
  max-width: 1000px;
  padding-left: 20px;
  padding-right: 20px;
}

.movie-section{
  height: 600px;
}

li.director{
  margin-top:75px;
}

.movie-base-info{
  display: block;
  text-align: center;
}

.row::before,
.row::after {
  content: '';
  display: table;
}

.row::after {
  clear: both;
}

.col-6{
  float: left;
  padding-left: 10%;
  padding-right: 10%;
  width: 100%;
  margin: 0 auto;
  
}
img{
  display: block;
  margin: 0 auto;
}

@media only screen and (min-width: 640px) {

  .col-6 {
    width: 50%;
    
  }

  }

  @media only screen and (max-width: 370px) {

    input, button,img, textarea {
      margin:0 0 0 0 ;
      width: 100%;
    }
    .row, .SearchForm, .ReviewForm, .LoginForm, .RegistrationForm, .col-6{
      padding:1%;
      width: 100%;
      margin:0 auto;
    }
    h2{
      text-align: center;
    }
    .review-list{
      margin:0;
      padding:0
    }
    .user-review,.poster{
      width:80%;
      height: auto;
      margin-left:10%;
    }
  
    }